// antd modal
.ant-modal{
    .ant-modal-body{
        padding:24px 0px;
    }
    .modal-form-cancel{
        float:right;
        margin-right:12px;
    }
    .modal-form-sure{
        float:right;
        margin-right:24px;
    }
}