@import '../..//styles/variable';
$padding-left-right:24px;
.header-feature-component{
    height: 100%;
    background-color: $menu-bg;
    color:#fff;
    display: flex;
    .header-left{
        flex:0 0 auto;
        padding: 0 $padding-left-right;
        font-size:24px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .header-right{
        flex:1 1 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size:28px;
        .icon-wrp{
            cursor: pointer;
            padding-right:$padding-left-right;
            &:hover{
                font-size:30px;
            }
        }
    }
}