 
.userInfo{
  display: flex;
  align-items: center;
  .logo{
    width:24px;
    height:24px;
    border-radius: 12px;
  }
  .userName{
    font-size:12px;
    color:#565656;
    margin-left:6px;
  }
}