.login-page {
  .content-center {
    position: absolute;
    left: 64px;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    padding: 64px 32px;
    border-radius: 16px;
    background-color: #999;
  }
}
